{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
    {% bootstrap_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel='stylesheet' href="{% static 'css/yearpicker.css' %}" />
    <title>Market Demand Prediction</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src= {% static 'js/yearpicker.js' %}></script>
</head>
<body style="background-image: url('{% static "images/leaf.jpeg" %}'); background-repeat: no-repeat; background-size: cover; margin: 0; backdrop-filter: blur(6px);">
<div class="d-flex w-100 justify-content-between py-2 row g-0" style="background-color: #03030070; height: 75px; padding: 0;">
    <div class="fs-2 fw-bold d-flex flex-row align-items-center col-md-6 justify-content-between container-fluid">
        {% if request.path != '/guest/' %}
            <a href="{% url 'home' %}" style="color: white; text-decoration: none;">
                <img src="{% static 'images/logo3.png' %}" width="50" height="50" alt="Logo">
            </a>
        {% endif %}
        {% if request.path == '/guest/' %}
            <a href="{% url 'guest' %}" style="color: white; text-decoration: none;">
                <img src="{% static 'images/logo3.png' %}" width="50" height="50" alt="Logo">
            </a>
        {% endif %}
    </div>
    <div class="d-flex flex-row align-items-center col-md-6 justify-content-end container-fluid">
        {% if request.path == '/guest/' %}
            <a href="{% url 'register' %}" style="color: white; text-decoration: none; margin-right: 20px;">Would you like to create an account ?</a>
        {% endif %}
        {% if request.path != '/guest/' %}
            <a href="{% url 'home' %}" style="color: white; text-decoration: none; margin-right: 20px;">Home</a>
        {% endif %}
        <a href="#about" style="color: white; text-decoration: none; margin-right: 20px;">About Us</a>
        {% if request.path != '/guest/' %}
            <a href="/profile" style="color: white; text-decoration: none; margin-right: 20px;">Profile</a>
        {% endif %}
        {% if request.path != '/guest/' %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" style="background: none; border: none; cursor: pointer; color: white;">
                    Logout
                </button>
            </form>
        {% endif %}
    </div>
</div>
<br><br>
<div class="flex-grow-1">
    {% block content %}{% endblock %}
</div>
<br><br>
<div id='footer'>
    <p align="center">Copyright © 2023 University of Windsor - IP2/Team 6</p>
</div>
{% bootstrap_javascript %}
{% block script %} {% endblock %}
</body>
</html>
