{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    {% bootstrap_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="w-100 d-flex flex-column justify-content-center align-items-center bb" style="background-image: url('{% static "images/bg-fall.jpeg" %}'); background-repeat: no-repeat; background-size: cover;">
<img src="{% static 'images/logo3.png' %}" class="register-logo">
<div class="w-50 p-5 background-white shadow-lg d-flex flex-column rounded-3 mt-4">
    <form method="post" class="m-3 d-flex flex-column align-items-center">
        {% csrf_token %}
        <input type="text" name="email" id="email" class="form-control form-control-lg"
           placeholder="Enter email" required oninvalid="this.setCustomValidity('Please enter your email.'); this.classList.add('highlight-field');" oninput="this.setCustomValidity(''); this.classList.remove('highlight-field');" >
        <br>
        <input type="password" name="password" id="password" class="form-control form-control-lg"
               placeholder="Enter password" required oninvalid="this.setCustomValidity('Please enter your password.'); this.classList.add('highlight-field');" oninput="this.setCustomValidity(''); this.classList.remove('highlight-field'); ">
        <br>
        <input type="submit" value="Login" class="btn rounded-pill px-5 py-2 btn-color-primary mt-2 fs-5">
    </form>
    <div class="d-flex flex-row justify-content-between">
        <a class="fs-5" href="{% url 'forgot_password' %}">Forgot Password?</a>
        <a class="fs-5" href="{% url 'register' %}">Register</a>
    </div>
</div>
{% bootstrap_javascript %}
{% if error %}
    <script>
    function showAlert() {
        var errorMessage = "{{ error }}";
        alert(errorMessage);
    }
    window.onload = showAlert;
    </script>
{% endif %}
<br>
<p>Copyright © 2023 University of Windsor - IP2/Team 6</p>
</body>
</html>