{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Confirm</title>
    {% bootstrap_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="w-100 d-flex flex-column justify-content-center align-items-center" style="background-image: url('{% static "images/bg-fall.jpeg" %}'); background-repeat: no-repeat; background-size: cover;">
<img src="{% static 'images/logo3.png' %}" class="register-logo">
    <div class="w-50 p-5 register-form-container shadow-lg rounded-3 background-white mt-4">
        <div class="w-100 d-flex flex-column align-items-center">
            <h2>Password Reset Confirm</h2>

            <div id="password-strength-info"></div>
            <form method="post" onsubmit="return validatePassword()">
            {% csrf_token %}
            <input type="hidden" name="uidb64" value="{{ uidb64 }}">
            <input type="hidden" name="token" value="{{ token }}">
            <label for="new_password1">New Password</label>
            <input type="password" name="new_password1" id="new_password1" required class="form-control form-control-lg shadow-sm" placeholder="PASSWORD" oninput="checkPasswordStrength()">
            <br>
            <label for="new_password2">Confirm New Password</label>
            <input type="password" name="new_password2" id="new_password2" required class="form-control form-control-lg shadow-sm" placeholder="RE-ENTER PASSWORD">
            <br>
            <input type="submit" value="Reset Password" class="btn rounded-pill px-5 py-2 btn-color-primary fs-5">
            </form>
        </div>
    </div>
    {% bootstrap_javascript %}
    <script>
    function checkPasswordStrength() {
        var password = document.getElementById("new_password1").value;
        var infoMessage = document.getElementById("password-strength-info");

        var regex = /^(?=.*[a-zA-Z])(?=.*\d).{8,}$/;
        if (regex.test(password)) {
            infoMessage.innerHTML = "<span style='color: green;'>Password strength: Strong</span>";
        } else {
            infoMessage.innerHTML = "<span style='color: red;'>Password strength: Weak (Minimum 8 characters, combination of letters and numbers required)</span>";
        }
    }

    function validatePassword() {
        var password = document.getElementById("new_password1").value;
        var confirmPassword = document.getElementById("new_password2").value;
        var infoMessage = document.getElementById("password-strength-info");

        if (password !== confirmPassword) {
            infoMessage.innerHTML = "<span style='color: red;'>Passwords do not match</span>";
            return false;
        }


        var regex = /^(?=.*[a-zA-Z])(?=.*\d).{8,}$/;
        if (!regex.test(password)) {
            infoMessage.innerHTML = "<span style='color: red;'>Please enter a stronger password (Minimum 8 characters, combination of letters and numbers required)</span>";
            return false;
        }

        return true;
    }
    </script>
<br>
<p>Copyright © 2023 University of Windsor - IP2/Team 6</p>
</body>
</html>