{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Confirm</title>
    {% bootstrap_css %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body class="w-100 d-flex flex-column justify-content-center align-items-center" style="background-image: url('{% static "images/bg-fall.jpeg" %}'); background-repeat: no-repeat; background-size: cover;">
<img src="{% static 'images/logo3.png' %}" class="register-logo">
    <div class="w-50 p-5 register-form-container shadow-lg rounded-3 background-white mt-4">
        <div class="w-100 d-flex flex-column align-items-center">
            <h2>Password Reset Confirm</h2>
            <p>Your password can’t be too similar to your other personal information.<br/>
                Your password must contain at least 8 characters.<br/>
                Your password can’t be a commonly used password.<br/>
                Your password can’t be entirely numeric.</p>
            <form method="post">
            {% csrf_token %}
            <input type="hidden" name="uidb64" value="{{ uidb64 }}">
            <input type="hidden" name="token" value="{{ token }}">
            <label for="new_password1">New Password</label>
            <input type="password" name="new_password1" id="new_password1" required class="form-control form-control-lg shadow-sm" placeholder="PASSWORD">
            <br>
            <label for="new_password2">Confirm New Password</label>
            <input type="password" name="new_password2" id="new_password2" required class="form-control form-control-lg shadow-sm" placeholder="RE-ENTER PASSWORD">
            <br>
            <input type="submit" value="Reset Password" class="btn rounded-pill px-5 py-2 btn-color-primary fs-5">
            </form>
        </div>
    </div>
<br>
<p>Copyright © 2023 University of Windsor - IP2/Team 6</p>
</body>
</html>